
/* body {
    font-family: 'Lucida Handwriting', cursive;
    text-align: center;
    align-content: center;
} */


body {
    font-family: 'Lucida Handwriting', cursive;
    text-align: center;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.5;
}

/* body {
  margin: 0;
  background-image: url("NewImages/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
} */

html {
    scroll-behavior: smooth;
}

button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #ad2857;
    color: #fff;
}

button:hover {
    background-color: #e3a6bb;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #ad2857;
}

p {
    font-size: clamp(1rem, 2.5vw, 1.75rem);
    color: #b6738b;
}

td {
    padding: 30px;
}

img {
    max-width: 100%;
    height: auto;
}




/*****************CLASSES*****************/


.page-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("NewImages/Background.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    margin: 0;
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    min-height: 100vh; */
}
/*.page-border {
    position: absolute;
    inset: 20px;

    background-image: url("NewImages/goldborder-removebg-preview.png");
    background-size: contain;
    background-position: center-top;
    background-repeat: no-repeat;

    pointer-events: none;
    z-index: 1;
}*/

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    border-color: #ad2857;
}

.big-heading {
    font-size: clamp(4rem, 5vw, 5rem);
    line-height: 1.3;
    margin: 3%;
}

#OOTDTime{
    color: #ad2857;
}

#OOTDItem{
    font-weight: bold;
}

.section-heading {
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    padding-bottom: 5%;
}


/*.sect {
     background-image: url("NewImages/Background.jpg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 60dvh;
  display: flex;
  align-items: center;

}*/


/* About Classes */

.about-heading {
    padding: 2% 0 1% 0;
}

/* Navbar Classes */

.navbar a {
    color: sandybrown;
}

    .navbar a:hover {
        color: tan;
    }

.navbar-toggler {
    color: sandybrown;
}


.feature-heading {
    padding: 6% 0 3% 0;
}

/* Title Section Classes */

#title .container-fluid {
    padding: 3% 15% 7%;
}

/*********************ID*****************/

/* Call to Action Section Id's */


#title-img {
    align-self: center;
    padding-top: 50%;
}

/* About Section Id's*/

/*********************Media Query Breakpoints*****************/

/* @media (max-width: 768px) {

    body {
        scroll-snap-type: y proximity; /* Softer snap on mobile 
    }*/

 /*   section {
        min-height: 100svh; /* Fix mobile browser UI height issues 
        padding: 15% 6%;
    }
    section::before {
        inset: 10px;
    }
} */









